<a href="https://colab.research.google.com/github/ypadmajareddy/recipe-app/blob/master/Credit_Risk_Analysis_ml.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Basic data analysis or exploratory data analysis (EDA)

In [26]:

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from pandas import read_csv
from pandas.plotting import scatter_matrix
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import StratifiedKFold
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC

In [6]:
!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [7]:
downloaded = drive.CreateFile({'id':'1jqc7FLZyu-1PIE5CGSrX2d-WMp4SIkqZ'}) # replace the id with id of file you want to access
downloaded.GetContentFile('train7.csv')

In [ ]:
DATASET_COLUMNS = ["Amount of the given credit", "Gender", "Education", "Marital status", " Age", "History of past payment"]
DATASET_ENCODING = "ISO-8859-1"

In [8]:
df = pd.read_csv('train7.csv') 
df.head(5)

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,y
0,300000,1,3,2,31,0,0,0,0,0,...,86263,87238,89176,4000,4000,4100,3300,3500,3500,0
1,20000,1,2,2,24,0,0,0,0,0,...,14694,16914,14074,1313,2110,4000,6000,4000,174,0
2,90000,2,2,2,35,-1,-1,-1,-2,-2,...,0,0,0,2667,0,0,0,0,0,0
3,300000,2,2,1,40,1,-2,-2,-2,-2,...,0,0,0,0,0,0,0,0,0,0
4,70000,2,2,2,36,0,0,0,0,0,...,29314,28844,29443,3340,2044,1773,1181,1215,1297,1

In [16]:
print(df.shape)

(22500, 24)

In [17]:
print(df.describe())

                   X1            X2            X3            X4            X5  \
count    22500.000000  22500.000000  22500.000000  22500.000000  22500.000000
mean    167405.319111      1.606978      1.852400      1.550044     35.502133
std     129534.293325      0.488433      0.792169      0.522087      9.231574
min      10000.000000      1.000000      0.000000      0.000000     21.000000
25%      50000.000000      1.000000      1.000000      1.000000     28.000000
50%     140000.000000      2.000000      2.000000      2.000000     34.000000
75%     240000.000000      2.000000      2.000000      2.000000     41.000000
max    1000000.000000      2.000000      6.000000      3.000000     75.000000

                 X6            X7            X8            X9           X10  \
count  22500.000000  22500.000000  22500.000000  22500.000000  22500.000000
mean      -0.017022     -0.134133     -0.171022     -0.223200     -0.266933
std        1.126169      1.195596      1.191513      1.168483      1.134080
min       -2.000000     -2.000000     -2.000000     -2.000000     -2.000000
25%       -1.000000     -1.000000     -1.000000     -1.000000     -1.000000
50%        0.000000      0.000000      0.000000      0.000000      0.000000
75%        0.000000      0.000000      0.000000      0.000000      0.000000
max        8.000000      8.000000      8.000000      8.000000      8.000000

       ...            X15            X16            X17            X18  \
count  ...   22500.000000   22500.000000   22500.000000   22500.000000
mean   ...   42928.125467   40110.392978   38761.746267    5647.976578
std    ...   63924.102396   60492.541788   59073.782313   17015.575713
min    ... -170000.000000  -81334.000000 -209051.000000       0.000000
25%    ...    2291.000000    1729.500000    1261.000000    1000.000000
50%    ...   18971.500000   18038.500000   17100.500000    2100.000000
75%    ...   54049.000000   50211.000000   49326.250000    5005.000000
max    ...  891586.000000  927171.000000  961664.000000  873552.000000

                X19            X20            X21            X22  \
count  2.250000e+04   22500.000000   22500.000000   22500.000000
mean   5.969874e+03    5203.429733    4869.174178    4857.948889
std    2.468042e+04   18036.973062   15990.912905   15808.695821
min    0.000000e+00       0.000000       0.000000       0.000000
25%    8.567500e+02     390.000000     284.000000     241.000000
50%    2.008500e+03    1800.000000    1500.000000    1500.000000
75%    5.000000e+03    4500.000000    4000.000000    4034.000000
max    1.684259e+06  896040.000000  621000.000000  426529.000000

                 X23             y
count   22500.000000  22500.000000
mean     5193.027644      0.222622
std     17551.318733      0.416016
min         0.000000      0.000000
25%       137.750000      0.000000
50%      1500.000000      0.000000
75%      4000.000000      0.000000
max    527143.000000      1.000000

[8 rows x 24 columns]

In [19]:
print(df.groupby('y').size())

y
0    17491
1     5009
dtype: int64

In [ ]:
df.plot(kind='box', subplots=True, layout=(24,24), sharex=False, sharey=False)
plt.show()

Data Set Information:

This research aimed at the case of customers default payments the binary result of classification - credible or not credible clients. 


Attribute Information:

This research employed a binary variable "y", default payment (Yes = 1, No = 0), as the response variable. This study reviewed the literature and used the following 23 variables as explanatory variables:


X1: Amount of the given credit (NT dollar): it includes both the individual consumer credit and his/her family (supplementary) credit.
X2: Gender (1 = male; 2 = female).
X3: Education (1 = graduate school; 2 = university; 3 = high school; 4 = others).
X4: Marital status (1 = married; 2 = single; 3 = others).
X5: Age (year).
X6 - X11: History of past payment. We tracked the past monthly payment records (from April to September, 2005) as follows: X6 = the repayment status in September, 2005; X7 = the repayment status in August, 2005; . . .;X11 = the repayment status in April, 2005. The measurement scale for the repayment status is: -1 = pay duly; 1 = payment delay for one month; 2 = payment delay for two months; . . .; 8 = payment delay for eight months; 9 = payment delay for nine months and above.
X12-X17: Amount of bill statement (NT dollar). X12 = amount of bill statement in September, 2005; X13 = amount of bill statement in August, 2005; . . .; X17 = amount of bill statement in April, 2005.
X18-X23: Amount of previous payment (NT dollar). X18 = amount paid in September, 2005; X19 = amount paid in August, 2005; . . .;X23 = amount paid in April, 2005.

In [9]:
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier, GradientBoostingClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_auc_score

In [10]:
X = df.drop('y', axis = 1)
y = df['y']

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25)

In [12]:
knn = KNeighborsClassifier(n_neighbors = 5, weights = 'uniform', algorithm = 'auto', leaf_size = 30, metric_params = None)
logistic = LogisticRegression(penalty = 'l1', C = 1.0, verbose = 2, tol = 0.0001)
adaboost = AdaBoostClassifier(base_estimator = None, n_estimators = 200, learning_rate = 1.0)
gbdt = GradientBoostingClassifier(loss = 'deviance', learning_rate = 0.1, n_estimators = 200, min_samples_split = 2,
                                  min_samples_leaf = 1, max_depth = 3, subsample = 1.0)
forest = RandomForestClassifier(n_estimators = 10)

In [14]:
knn.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=5, p=2,
           weights='uniform')

In [28]:
# Spot Check Algorithms
models = []
models.append(('LR', LogisticRegression(solver='liblinear', multi_class='ovr')))
models.append(('LDA', LinearDiscriminantAnalysis()))
models.append(('KNN', KNeighborsClassifier()))
models.append(('CART', DecisionTreeClassifier()))
models.append(('NB', GaussianNB()))
models.append(('SVM', SVC(gamma='auto')))
# evaluate each model in turn
results = []
names = []
for name, model in models:
	kfold = StratifiedKFold(n_splits=10, random_state=1, shuffle=True)
	cv_results = cross_val_score(model, X_train, y_train, cv=kfold, scoring='accuracy')
	results.append(cv_results)
	names.append(name)
	print('%s: %f (%f)' % (name, cv_results.mean(), cv_results.std()))

LR: 0.778845 (0.000361)
LDA: 0.813156 (0.004186)
KNN: 0.753483 (0.005370)
CART: 0.729303 (0.010151)
NB: 0.384886 (0.015166)
SVM: 0.779259 (0.001735)

In [30]:
model = SVC(gamma='auto')
model.fit(X_train, y_train)
predictions = model.predict(X_test)

In [31]:
print(accuracy_score(y_test, predictions))
print(confusion_matrix(y_test, predictions))
print(classification_report(y_test, predictions))

0.7749333333333334
[[4327   17]
 [1249   32]]
              precision    recall  f1-score   support

           0       0.78      1.00      0.87      4344
           1       0.65      0.02      0.05      1281

   micro avg       0.77      0.77      0.77      5625
   macro avg       0.71      0.51      0.46      5625
weighted avg       0.75      0.77      0.68      5625